name: Build docs

on: [push, pull_request]

jobs:
  Docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v3
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r docs/requirements.txt
      - name: Sphinx build
        run: |
          cd docs
          sphinx-apidoc -o ./source ../funky_dingo
          sphinx-build -b html . _build -w /tmp/sphinx.log
      - name: Deploy docs
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./_build
