name: Documentation

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: ammaraskar/sphinx-action@master
      with:
        build-command: "sphinx-build -b html . _build"
        docs-folder: "docs/" 
    - uses: actions/upload-artifact@v1
      with:
        name: DocumentationHTML
        path: _build/html/ 
